.my__page-file {
   padding: 21px 25px;
   border: 1px solid #D4D4D4;
   border-radius: 15px;
   width: 100%;
   box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.15);
   cursor: pointer;
   margin-bottom: 15px;
}

.my__page-file:last-child {
   margin-bottom: 0;
}

.my__page-file__inner {
   display: flex;
   align-items: center;
   justify-content: space-between;
   
}

.my__file-inner__text {
   flex: 1;
   margin-left: 19px;
}

.my__file-inner__title {
   font-size: 15px;
   font-weight: 500;
   margin: 0;
   margin-bottom: 4px;
}

.my__file-inner__description {
   font-size: 12px;
   color: #B3B3B3;
}

.my__file-inner__username {
   display: flex;
   align-items: center;
   margin-right: 315px;
}

.my__file-inner__username img {
   margin-right: 6px;
}

.my__file-user__email {
   font-size: 14px;
   color: #B3B3B3;
}

.my__file-tag__inner {
   display: flex;
   align-items: center;
   background-color: #F0F0F0;
   border: none;
   border-radius: 8px;
   padding: 5px;
}

.my__file-tag__inner img {
   margin-right: 4px;
}

.my__file-tag__name {
   font-size: 12px;
   color: #B3B3B3;
}