html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   margin: 0;
   padding: 0;
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   font-weight: 400;
   color: #000;
   background-color: #D4D4D4;
}

p {
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
   color: #000;
}

.sidebar {
   background-color: #D4D4D4;
   width: 251px;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
}

.sidebar__profile {
   display: flex;
   align-items: center;
   margin-top: 55px;
   margin-left: 16px;
   margin-right: 16px;
}

.profile__name {
   font-weight: 500;
   font-size: 14px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.profile__img {
   margin-right: 9px;
}

