.my__page-note {
   width: 260px;
   border: 1px solid #DDDDDD;
   border-radius: 15px;
   box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.15);
   cursor: pointer;
}

.my__page-note__inner {
   padding: 18px;
}

.my__note-inner__description {
   font-size: 12px;
   color: #B3B3B3;
   text-align: justify;
   margin-bottom: 27px;
}

.my__note-inner__title {
   margin: 0;
   font-size: 15px;
   font-weight: 500;
   margin-bottom: 20px;
}

.my__note-inner__username {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.my__note-username__inner {
   display: flex;
   align-items: center;
}

.my__note-username__inner img {
   margin-right: 4px;
}

.my__note-user__email {
   font-size: 10px;
   color: #B3B3B3;
}

.my__note-tag__inner {
   display: flex;
   align-items: center;
   background-color: #F0F0F0;
   border: none;
   border-radius: 8px;
   padding: 4px;
}

.my__note-tag__inner img{
   margin-right: 4px;
}

.my__note-tag__name {
   font-size: 10px;
   color: #B3B3B3;
}