.file__upload {
   border: 1px solid #D4D4D4;
   border-radius: 15px;
   margin-top: 37px;
   display: flex;
   justify-content: space-between;
   margin-bottom: 40px;
   align-items: center;
}

.file__input {
   cursor: pointer;
   outline: none;
   font-size: 14px;
   font-weight: 500;
   font-family: 'Montserrat', sans-serif;
   color: #B3B3B3;
   margin-left: 10px;
}

.upload__btn {
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   width: 100px;
   padding: 12px 9px;
   border: 1px solid #D4D4D4;
   border-radius: 10px;
   cursor: pointer;
}