.search__form {
   margin-top: 37px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   font-size: 16px;
   margin-bottom: 65px;
}

.search__title {
   margin-right: 15px;
}

.tags__list {
   width: 200px;
   height: 25px;
   border-color: #d4d4d4;
   border-radius: 5px;
}