.tag-and-share {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.add__tag {
   display: flex;
   align-items: center;
}

.add__tag img {
   margin-right: 6px;
}

.tag__title {
   font-family: 'Montserrat', sans-serif;
   color: #B3B3B3;
   font-size: 14px;
   font-weight: 500;
   margin-right: 8px;
}

.tags__list {
   border-radius: 3px;
   color: #B3B3B3;
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: 500;
}

.tags__list option {
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: 500;
}

.file__share-button {
   padding: 0;
   display: flex;
   align-items: center;
   background-color: #fff;
   border: none;
   cursor: pointer;
}

.file__share-button img {
   margin-right: 8px;
}

.file__text-btn {
   margin: 0;
   font-family: 'Montserrat', sans-serif;
   color: #B3B3B3;
   font-size: 14px;
   font-weight: 500;
}

.file__action-edit-btn__delete {
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: 500;
   color: #EF0202;
   display: flex;
   align-items: center;
   padding: 0;
   background-color: #fff;
   border: none;
   cursor: pointer;
}

.file__action-edit-btn__delete img {
   margin-right: 8px;
}