.create__add-file {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 10px;
}

.create__add-file input{
   cursor: pointer;
   border: none;
   outline: none;
   font-size: 14px;
   font-weight: 500;
   font-family: 'Montserrat', sans-serif;
   color: #B3B3B3;
}

.create__add-file__inner {
   display: flex;
   align-items: center;
}

.create__add-file__img {
   margin-right: 8px;
}

.file__delete-button {
   background-color: #fff;
   border: none;
   cursor: pointer;
}