.close__file-btn {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
}

.close__file-creating {
   padding: 0;
   background-color: #fff;
   border: none;
   cursor: pointer;
}