.file__share-button {
   padding: 0;
   display: flex;
   align-items: center;
   background-color: #fff;
   border: none;
   cursor: pointer;
}

.file__share-button img {
   margin-right: 8px;
}

.file__text-btn {
   margin: 0;
   font-family: 'Montserrat', sans-serif;
   color: #B3B3B3;
   font-size: 14px;
   font-weight: 500;
}

.file__edit-share__btn {
   margin-bottom: 15px;
}