.options__display {
   display: flex;
   align-items: end;
}

.note__add-options {
   display: flex;
   align-items: center;
}

.add__file {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.add__file input{
   cursor: pointer;
}

.add__file-inner {
   display: flex;
   align-items: center;
}

.add__tag {
   display: flex;
   align-items: center;
}

.add__file img,
.add__tag img {
   margin-right: 8px;
}

.add__file input {
   border: none;
   outline: none;
   font-size: 16px;
   font-weight: 500;
   font-family: 'Montserrat', sans-serif;
   color: #B3B3B3;
}

.tag__title {
   font-family: 'Montserrat', sans-serif;
   color: #B3B3B3;
   font-size: 14px;
   font-weight: 500;
   margin-right: 8px;
}

.tags__list {
   border-radius: 3px;
   color: #B3B3B3;
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: 500;
}

.tags__list option {
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: 500;
}