.note__title {
   margin-bottom: 12px;
}

.note__title input {
   border: none;
   width: 100%;
   outline: none;
   font-size: 40px;
   font-weight: 700;
}

.note__title input::placeholder {
   font-size: 40px;
   font-weight: 700;
   color: #B3B3B3;
}

.note__text textarea {
   border: none;
   outline: none;
   font-size: 16px;
   width: 100%;
   resize: none;
}

.note__text textarea::placeholder {
   font-size: 16px;
   color: #B3B3B3;
}