.note__share-inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   align-self: end;
   margin-bottom: 30px;
   gap: 22px;
}

.note__share-button {
   display: flex;
   align-items: center;
   border: 0;
   padding-top: 10px;
   background-color: #fff;
   font-size: 16px;
   font-weight: 500;
   font-family: 'Montserrat', sans-serif;
   cursor: pointer;
}

.note__share-btn img {
   margin-right: 11px;
}

.note__share-inner p {
   font-weight: 500;
   color: #B3B3B3;
}

.note__status {
   font-size: 14px;
}