.placeholder {
   text-align: center;
   margin: 0 auto;
   margin-top: 20px;
 }
 
 .placeholder__image {
   max-width: 300px;
   height: auto;
 }

 .no__notes {
   font-weight: 500;
   font-size: 18px;
 }